In [13]:
name = input("이름을 입력하십시오: ")
print(name+"씨, 안녕하세요?"+"\n파이썬에 오신 것을 환영합니다.")
var1= int(input("첫 번째 정수를 입력하세요: "))
var2= int(input("두 번째 정수를 입력하세요: "))
print(var1, "과 ", var2,"의 합은 ", var1+var2," 입니다.")

이름을 입력하십시오:  d

d씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫 번째 정수를 입력하세요:  300
두 번째 정수를 입력하세요:  200

300 과  200 의 합은  500  입니다.

In [17]:
#sample code
name = input("이름")
fir = input("first var: ")
sec = input("second var: ")
print(fir, "and", sec, ". sum: ",int(fir)+int(sec))

이름 d
first var:  1
second var:  2

1 and 2 . sum:  3

In [18]:
stadium = input("경기장은 어디입니까?")
win = input("이긴 팀은 어디입니까?")
loo = input("진 팀은 어디입니까?")
mvp = input("우수 선수는 누구입니까")
score = input("스코어는 몇대몇입니까?")

print("[속보]",win,"가",score,"로 승리...\n오늘 ",stadium," 경기장에서 야구 경기가 있었습니다.\n",win,"과 ",loo,"는 치열한 공방전을 펼쳤습니다. \n이 경기에서 ",mvp,"가 맹활약을 했습니다. \n그 끝내",win,"가 ", loo,"를 ",score,"로 승리하였습니다.\n기사 끝.")

경기장은 어디입니까? 고척
이긴 팀은 어디입니까? kt
진 팀은 어디입니까? lg
우수 선수는 누구입니까 강백호
스코어는 몇대몇입니까? 10:9

[속보] kt 가 10:9 로 승리...
오늘  고척  경기장에서 야구 경기가 있었습니다.
  kt  과  lg 는 치열한 공방전을 펼쳤습니다.
 이 경기에서  강백호 가 맹활약을 했습니다.
그 끝내  kt 가  lg 를  10:9 로 승리하였습니다
 기사 끝.

In [19]:
result = '1,2,3'.split(',')
print(type(result))
print(result)

<class 'list'>
['1', '2', '3']

In [25]:
t = input("hh:mm:ss 시간 입력")
t=t.split(':')
text = ['시','분','초']
for i in range(len(t)):
    print(text[i], ": ",t[i])

hh:mm:ss 시간 입력 12:22:23

시 :  12
분 :  22
초 :  23

In [26]:
a=[1.2,2.4,3.7,4.6]
a = list(map(int,a))
print(a)

[1, 2, 3, 4]

In [41]:
sub = input("국영수과 점수를 입력해주세요").split(',')
lst = list(map(int, sub))

kor = lst[0]
eng = lst[1]
mat =lst[2]
sci = lst[3]
avg = (kor+eng+mat+sci)/4

print("평균 점수는 ", avg," 점입니다.")

국영수과 점수를 입력해주세요 1,2,3,4

평균 점수는  2.5  점입니다.

In [49]:
#Best solution
def average(submap):
    sum=0
    for i in submap:
        sum+=i;
    return sum/len(submap)
        
smap = list(map(int, input("국영수과 점수 입력 요망").split(",")))
#iterating unpacking 가능)
avg = (kor+eng+mat+sci)/4

print("평균 점수는 ", average(smap)," 점입니다.")

국영수과 점수 입력 요망 1,2,3,4

평균 점수는  2.5  점입니다.

In [52]:
print("줄이 바뀌지 않습니다.", end = "")
print(" 그치?")

줄이 바뀌지 않습니다. 그치?

In [58]:
year="2022"
month ='12'
day = '03'
hour = '18'
minute = '33'
second = '23'

print(year,month,day,sep='/', end=" ")
print(hour, minute, second, sep=":")

2022/12/03 18:33:23

In [69]:
apple, tan = map(int, input("사과 귤 몇개?").split(","))
sum=apple*1000+tan*200
print("총 가격은 ",sum,"원입니다.",end="",sep="")

사과 귤 몇개? 10, 20

총 가격은 14000원입니다.

In [68]:
input_value4 = 0 
if type(input_value4) is int:
    print("t")

t

In [70]:
age= 39

if 20<= age < 30:
    print("20대")
elif 30<=age<40:
    print("30대")
print("땡큐")

30대
땡큐

In [77]:
id = input("아이디를 입력해주세요: ")
if id == 'admin':
    print('최고 관리자, 모든 권한을 갖습니다.')
else:
    lv = input("회원 등급을 입력해주세요: ")
    if 1<= int(lv) <= 3:
        print("제한적인 권한을 갖습니다. ")
    else:
        print("권한이 없습니다.")

아이디를 입력해주세요:  fjdsiaf
회원 등급을 입력해주세요:  1

제한적인 권한을 갖습니다.