In [12]:
language =["Hello", "world"]
print(language, sep="")

['Hello', 'world']

In [10]:
time = input("현재 시간을 입력하세요")
h = time.split(":")
if h[1] == '00':
    print("정각입니다")
else:
    print("정각이 아닙니다")

현재 시간을 입력하세요 02:00

정각입니다

In [66]:
list_a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_a[2::3] = list_a[2::3]
#이건 시퀀스로 접근하는 게 맞는 것 같다
print(list_a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
print(type('10 9 8 7'.split()))
print(type([0] * 10))
print(type(list(range(10))))
print(type([-1, '가', 100.2]))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [22]:
sm = 0
for _ in range(1,10,2):
    sm+=_
print('1~10 : ', sm)

1~10 :  25

In [25]:
print(tuple(range(-10, 10, 3)))

(-10, -7, -4, -1, 2, 5, 8)

In [75]:
for i in range(1,26):
    print('*', end='')
    if(i%5==0):
        print()

*

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [80]:
count = int(input("입력: "))
while count< 20:
    print("hello world, counTaksqhrghlttn")
    count+=1

입력:  10

hello world, counTaksqhrghlttn
hello world, counTaksqhrghlttn
hello world, counTaksqhrghlttn
hello world, counTaksqhrghlttn
hello world, counTaksqhrghlttn

In [3]:
num = 100
k=2
while k<=100:
    if k%2==0:
        print(k,end="\t")
    k+=2

2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70	72	74	76	78	80	82	84	86	88	90	92	94	96	98	100

In [4]:
num = int(input("숫자 입력: "))
i = 1
while i<10:
    print(num,'*', i,'=',num*i)
    i+=1

숫자 입력:  9

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [14]:
student = int(input("학생의 수: "))
i = 1
sm = 0
while i<=student:
    sm += int(input(str(i)+"번 학생의 점수: "))
    i+=1
print("평균: ", sm/student)

학생의 수:  3
1번 학생의 점수:  123
2번 학생의 점수:  32
3번 학생의 점수:  23

평균:  59.333333333333336

In [15]:
scores = (97, 100, 88)
for _ in range(len(scores)):
    print(scores[_])

97
100
88

In [19]:
class_a = (70, 60, 55, 75, 95, 90, 80, 80, 85, 100)
i = 0
s = 0
while i<len(class_a):
    s+=class_a[i]
    i+=1
print(s/len(class_a))

79.0

In [20]:
i = 0
total = 0
while True:
    i+=1
    total+=i
    if i==100:
        break
print(total)

5050

In [29]:
i = 0
lst = []
while True:
    i+=1
    if i%10 == 3:
        lst.append(i)
    if i==100:
        break;
print(str(lst).replace('[','').replace(']','').replace(',',''))

3 13 23 33 43 53 63 73 83 93

In [36]:
i = 0
while True:
    i+=1
    if i%10 == 3:
        print(i,'',end = '')
        continue
    if i==100:
        break;

3 13 23 33 43 53 63 73 83 93

In [30]:
import random

num = random.randint(1,100)

while True:
    inputNum = int(input("번호: "))
    if inputNum == num:
        print("정답입니다!")
        break;
    elif inputNum > num:
        print("다운:")
        continue
    else:
        print("업")

번호:  4

업

번호:  50

업

번호:  75

업

번호:  80

업

번호:  90

업

번호:  95

다운:

번호:  93

정답입니다!

In [42]:
i =  1 
while i<11:
    print(i,end = " ")
    i+=1
print()
for _ in range(1, 11):
    print(_,end = " ")

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [46]:
#FOR
n = int(input("시작하는 정수 입력: "))
m = int(input("끝나는 정수 입력: "))
numSum = 0
for _ in range(n,m+1):
    numSum += _
print(n,"부터",m,"까지의 합은", numSum,"입니다")

#While
n = int(input("시작하는 정수 입력: "))
m = int(input("끝나는 정수 입력: "))
i = 0
numSum = 0
while True:
    numSum += i
    i+=1
    if(i>m): 
        break
print(n,"부터",m,"까지의 합은", numSum,"입니다")
print(f'{n}부터 {m}까지의 합은 {numSum} 입니다') #문자열 포맷팅

시작하는 정수 입력:  1
끝나는 정수 입력:  10

1 부터 10 까지의 합은 55 입니다

시작하는 정수 입력:  1
끝나는 정수 입력:  10

1 부터 10 까지의 합은 55 입니다
1부터 10까지의 합은 55 입니다

In [59]:
n = int(input("시작하는 정수 입력: "))
m = int(input("끝나는 정수 입력: "))
total = 0 

#For loop
for _ in range(n, m+1):
    if _%2 != 0:
        continue
    total = total + _**2
print(f'total = {total}')

#While loop

total=0
n = int(input("시작하는 정수 입력: "))
m = int(input("끝나는 정수 입력: "))
i = n
while True:
    if i%2 != 0:
        i+=1
        continue
    total = total + i**2
    i+=1

    if i==m:
        break

print(f'total = {total}')

시작하는 정수 입력:  4
끝나는 정수 입력:  7

total = 52

시작하는 정수 입력:  4
끝나는 정수 입력:  7

total = 52

In [68]:
Kor = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = sum(Kor)
avg= total/len(Kor)
#Use Function 
print(f'average = {avg}')

#Use For Loop
total = 0
for _ in Kor:
    total+=_
print(f'average = {total/len(Kor)}')

#Use While Loop
total = 0
num = len(Kor)
while len(Kor) != 0:
    total += Kor.pop()
print(f'average = {total/num}')

average = 79.0
average = 79.0
average = 79.0

In [75]:
total = 0

#For loop
for _ in range(1,1001):
    if _ % 3 == 0 or _%5==0:
        total +=_
print(total)

#While Loop
i = 1
total = 0
while i<1001:
    if i % 3 == 0 or i%5==0:
        total +=i
    i+=1
print(total)

234168
234168