In [15]:
import math

score = list(input("실기 점수를 입력하세요").split(' '))
score = list(map(int, score))
score.sort()
score = score[1:len(score)-1]

print(sum(score)/len(score))

실기 점수를 입력하세요 70 50 85 98 82

79.0

In [19]:
lst = [86,72,98,60,45]
grade_counter = [0,0,0,0,0]

for _ in lst:
    if(_>=85):
        grade_counter[0]+=1
    elif(_>=70):
        grade_counter[1]+=1
    elif(_>=55):
        grade_counter[2]+=1
    elif(_>=40):
        grade_counter[3]+=1
    else :
        grade_counter[4]+=1
print(grade_counter)

[2, 1, 1, 1, 0]

In [28]:
for _ in range(1,101):
    print("Fizz" * (_%3==0)+"Buzz"*(_%5==0) or _, end = '\t')

1	2	Fizz	4	Buzz	Fizz	7	8	Fizz	Buzz	11	Fizz	13	14	FizzBuzz	16	17	Fizz	19	Buzz	Fizz	22	23	Fizz	Buzz	26	Fizz	28	29	FizzBuzz	31	32	Fizz	34	Buzz	Fizz	37	38	Fizz	Buzz	41	Fizz	43	44	FizzBuzz	46	47	Fizz	49	Buzz	Fizz	52	53	Fizz	Buzz	56	Fizz	58	59	FizzBuzz	61	62	Fizz	64	Buzz	Fizz	67	68	Fizz	Buzz	71	Fizz	73	74	FizzBuzz	76	77	Fizz	79	Buzz	Fizz	82	83	Fizz	Buzz	86	Fizz	88	89	FizzBuzz	91	92	Fizz	94	Buzz	Fizz	97	98	Fizz	Buzz

In [52]:
name_list = ['matthew', 'mark','luke','john','paul','peter']
result = 0
for _ in name_list:
    if 'm' in _ or 'h' in _:
        result+=1
            
print("m,h 이름 포함된 사람 수:",result)

m,h 이름 포함된 사람 수: 3

In [55]:
marks= [90,25,67, 45, 80]
for _ in range(0,len(marks)):
    if marks[_]>=60:
        print(f"{_+1}번 학생 축하합니다. 합격입니다")

1번 학생 축하합니다. 합격입니다
3번 학생 축하합니다. 합격입니다
5번 학생 축하합니다. 합격입니다

In [63]:
arr = [1,4,2,3]
left, right = 0, len(arr)-1
while left<right:
    arr[left], arr[right] = arr[right], arr[left]
    left+=1
    right-=1
print("arr: ",arr)

arr:  [3, 2, 4, 1]

In [68]:
n, m = 1,1

for i in range(1,10):
    for j in range(2,10):
        print(f'{j}x{i}={i*j}', end='\t')
    print()

2x1=2	3x1=3	4x1=4	5x1=5	6x1=6	7x1=7	8x1=8	9x1=9
2x2=4	3x2=6	4x2=8	5x2=10	6x2=12	7x2=14	8x2=16	9x2=18
2x3=6	3x3=9	4x3=12	5x3=15	6x3=18	7x3=21	8x3=24	9x3=27
2x4=8	3x4=12	4x4=16	5x4=20	6x4=24	7x4=28	8x4=32	9x4=36
2x5=10	3x5=15	4x5=20	5x5=25	6x5=30	7x5=35	8x5=40	9x5=45
2x6=12	3x6=18	4x6=24	5x6=30	6x6=36	7x6=42	8x6=48	9x6=54
2x7=14	3x7=21	4x7=28	5x7=35	6x7=42	7x7=49	8x7=56	9x7=63
2x8=16	3x8=24	4x8=32	5x8=40	6x8=48	7x8=56	8x8=64	9x8=72
2x9=18	3x9=27	4x9=36	5x9=45	6x9=54	7x9=63	8x9=72	9x9=81

In [70]:
dic_var = {"key": "value"}
print(type(dic_var))
print(dic_var)

<class 'dict'>
{'key': 'value'}

In [73]:
dic_var = {"key" : "value",
           1: "value2",
           1.1:"value3",
           True:"value4",
           ("key",1,1.1, True):"value2"}
print(list(map(type, dic_var.keys())))

[<class 'str'>, <class 'int'>, <class 'float'>, <class 'tuple'>]

In [77]:
dict_b = dict(zip(["key","key2","key3"],["value", "value2", "value3"]))
print(dict_b)
dict_b['key'] = "super value"
print(dict_b)

print(dict_b)
print(len(dict_b))

{'key': 'value', 'key2': 'value2', 'key3': 'value3'}
{'key': 'super value', 'key2': 'value2', 'key3': 'value3'}
{'key': 'super value', 'key2': 'value2', 'key3': 'value3'}
3

In [82]:
fruit = {"사과":1000,
         "바나나": 700,
         "오렌지": 1500,
         "파인애플":2000}
val = input("과일 이름을 입력하세요: ")
print(f"{val}의 가격은 {fruit[val]}압니다")

print(dict_b)

과일 이름을 입력하세요:  바나나

바나나의 가격은 700압니다
{'key': 'super value', 'key2': 'value2', 'key3': 'value3'}

In [87]:
name = input("이름을 기입해주세요: ").split(' ')
weight = map(float, input("몸무게를 기입해주세요: ").split(' '))
dict_b = dict(zip(name, weight))
print(dict_b)

이름을 기입해주세요:  뽀로로 루피 크롱 스누피
몸무게를 기입해주세요:  20.4 15.2 22.3 5.2

{'뽀로로': 20.4, '루피': 15.2, '크롱': 22.3, '스누피': 5.2}

In [91]:
name = input("이름을 기입해주세요: ").split(' ')
weight = list(map(float, input("몸무게를 기입해주세요: ").split(' ')))

dict_mm = {}
#dict_mm = dict()
#len(names) # 4
#range(4) #0,1,2,3
for i in range(len(name)):
    dict_mm[name[i]] = weight[i]

이름을 기입해주세요:  20.4 15.2 22.3 5.2
몸무게를 기입해주세요:  20.4 15.2 22.3 5.2

In [95]:
#list_variable = [expression for 변수 in iterable]

list_a = [ _**2 for _ in range(10)]
print(list_a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [96]:
prac_result = [_**2 for _ in range(1,10)]
print(type(prac_result))
print(prac_result)

<class 'list'>
[1, 4, 9, 16, 25, 36, 49, 64, 81]